WSCore/WSCore.Common/obj
WSCore/WSCore.SimCard/obj
WSCore/.vs/WSCore/v16/.suo
.vs/
.suo/
WSCore/WSCore.SimCard/bin
WSCore/WSCore.Model/obj
WSCore/WSCore.Common/bin
WSCore/WSCore.Infrastructure/bin
WSCore/WSCore.Infrastructure/obj
WSCore/WSCore.Model/bin
WSCore/WSCore/Migrations/
WSCore/WSCore.Upload/bin/
WSCore/WSCore.Upload/obj/
WSCore/WSCore.Upload/obj/Debug/netcoreapp3.1/WSCore.Upload.csprojAssemblyReference.cache
